<h1 class="text-4xl font-semibold mt-4">
  {{#if title}}
    {{title}}
  {{else}}
    Error
  {{/if}}
</h1>
{{#if message}}
  <h2 class="text-2xl font-semibold mt-4 whitespace-pre-line">
    {{message}}
  </h2>
{{/if}}