<div class="text-center my-6">
  <h1 class="text-3xl font-semibold">DID Auth Proof of Concept</h1>
</div>
<div style="display: flex; justify-content: space-around;">
  <div>
    <h3 class="text-xl font-semibold">Sign up</h3>
    <p class="w-full max-w-xs my-2">
      If you do not have account yet:
    </p>
    {{> signupForm }}
  </div>
  <div>
    <h3 class="text-xl font-semibold">Sign in</h3>
    <p class="w-full max-w-xs my-2">
      If you already have an account here
    </p>
    {{> signinForm }}
  </div>
</div>