<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="description" content="DID Auth POC" />
    <title>DID Auth POC</title>
    <link href="/index.css" rel="stylesheet">
  </head>
  <body class="font-sans">
    {{> topnav }}
    <main class="mx-auto max-w-5xl">
      {{{body}}}
    </main>
  </body>
</html>
