<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="description" content="DID Auth POC" />
    <title>DID Auth POC</title>
    <link href="/index.css" rel="stylesheet">
  </head>
  <body>
    <div class="">
      <div class="flex flex-wrap items-center bg-teal-200 p-2 gap-2">
        <a class="text-xl text-blue-500 hover:text-blue-800" href="/">
          DID Auth POC
        </a>
        <a class="text-blue-500 hover:text-blue-800" href="/">
          {{host}}
        </a>
        <div class="flex-grow"></div>
        {{#if user}}
        <div class="">
          <span class="text-gray-700 text-sm font-bold">Signed in as {{user.username}}</span>
          {{> signoutForm }}
        </div>
        {{/if}}
      </div>
      <main>{{{body}}}</main>
    </div>
  </body>
</html>
