<form action="/signin" method="post">
  {{#if error}}
    <div class="mb-4 text-red-700">{{error}}</div>
  {{/if}}
  {{#if returnTo}}
    <input type="hidden" name="returnTo" value="{{returnTo}}"/>
  {{/if}}
  {{> formInput
    label="Username"
    id="username-input"
    name="username"
    type="username"
    placeholder="username"
    value=username
  }}
  {{> formInput
    label="Password"
    id="password-input"
    name="password"
    type="password"
  }}
  <div class="flex items-center justify-end">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit"
    >Sign In</button>
  </div>

</form>

{{#unless loginOnly}}
<form action="/signin" method="post" class="mt-6">
  <h3 class="text-xl font-semibold">**Sign in from another site**</h3>
  <h3 class="">
    After you've created your first account…
  </h3>

  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="email-input">
      Email
    </label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="email-input"
      name="email"
      type="email"
      placeholder="email"
      value="{{email}}"
    >
  </div>

  <div class="flex items-center justify-end">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit"
    >Sign In</button>
  </div>
</form>
{{/unless}}