<form action="/signup" method="post">
  <div style="display: flex; flex-direction: column; gap: 10px;">
    {{#if error}}
      <div class="mb-4 text-red-700">{{error}}</div>
    {{/if}}
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username-input">
        Username
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="username-input"
        name="username"
        type="username"
        placeholder="username"
        value="{{username}}"
      >
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password-input">
        Password
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="password-input"
        name="password"
        type="password"
      >
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password-confirmation-input">
        Password Confirmation
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="password-confirmation-input"
        name="passwordConfirmation"
        type="password"
      >
    </div>
    <div class="flex items-center justify-end">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit"
      >Sign up</button>
    </div>
  </div>
</form>